/**
 * Rack 08
 */
/**
 * Card 01
 */
#r8-c1 {
  left: 1px;
  top: 1px; }

#r8-c1-b0 {
  left: 10px;
  top: 172px; }

#r8-c1-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c1-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c1-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c1-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c1-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c1-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c1-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c1-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c1-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c1-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c1-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c1-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c1-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c1-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c1-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c1-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c1-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c1-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c1-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c1-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c1-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c1-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c1-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c1-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 02
 */
#r8-c2 {
  left: 90px;
  top: 1px; }

#r8-c2-b0 {
  left: 10px;
  top: 172px; }

#r8-c2-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c2-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c2-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c2-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c2-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c2-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c2-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c2-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c2-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c2-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c2-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c2-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c2-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c2-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c2-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c2-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c2-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c2-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c2-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c2-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c2-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c2-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c2-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c2-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 03
 */
#r8-c3 {
  left: 179px;
  top: 1px; }

#r8-c3-b0 {
  left: 10px;
  top: 172px; }

#r8-c3-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c3-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c3-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c3-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c3-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c3-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c3-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c3-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c3-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c3-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c3-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c3-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c3-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c3-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c3-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c3-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c3-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c3-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c3-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c3-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c3-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c3-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c3-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c3-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 04
 */
#r8-c4 {
  left: 268px;
  top: 1px; }

#r8-c4-b0 {
  left: 10px;
  top: 172px; }

#r8-c4-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c4-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c4-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c4-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c4-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c4-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c4-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c4-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c4-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c4-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c4-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c4-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c4-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c4-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c4-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c4-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c4-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c4-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c4-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c4-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c4-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c4-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c4-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c4-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 05
 */
#r8-c5 {
  left: 357px;
  top: 1px; }

#r8-c5-b0 {
  left: 10px;
  top: 172px; }

#r8-c5-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c5-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c5-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c5-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c5-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c5-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c5-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c5-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c5-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c5-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c5-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c5-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c5-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c5-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c5-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c5-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c5-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c5-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c5-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c5-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c5-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c5-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c5-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c5-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 06
 */
#r8-c6 {
  left: 446px;
  top: 1px; }

#r8-c6-b0 {
  left: 10px;
  top: 172px; }

#r8-c6-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c6-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c6-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c6-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c6-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c6-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c6-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c6-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c6-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c6-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c6-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c6-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c6-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c6-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c6-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c6-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c6-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c6-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c6-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c6-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c6-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c6-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c6-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c6-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 07
 */
#r8-c7 {
  left: 535px;
  top: 1px; }

#r8-c7-b0 {
  left: 10px;
  top: 172px; }

#r8-c7-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c7-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c7-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c7-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c7-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c7-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c7-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c7-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c7-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c7-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c7-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c7-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c7-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c7-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c7-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c7-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c7-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c7-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c7-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c7-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c7-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c7-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c7-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c7-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 08
 */
#r8-c8 {
  left: 624px;
  top: 1px; }

#r8-c8-b0 {
  left: 10px;
  top: 172px; }

#r8-c8-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c8-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c8-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c8-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c8-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c8-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c8-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c8-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c8-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c8-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c8-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c8-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c8-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c8-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c8-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c8-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c8-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c8-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c8-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c8-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c8-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c8-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c8-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c8-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 09
 */
#r8-c9 {
  left: 713px;
  top: 1px; }

#r8-c9-b0 {
  left: 10px;
  top: 172px; }

#r8-c9-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c9-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c9-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c9-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c9-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c9-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c9-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c9-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c9-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c9-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c9-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c9-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c9-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c9-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c9-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c9-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c9-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c9-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c9-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c9-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c9-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c9-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c9-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c9-b0-i7-nr {
  left: 62px;
  top: 254px; }

/**
 * Card 10
 */
#r8-c10 {
  left: 802px;
  top: 1px; }

#r8-c10-b0 {
  left: 10px;
  top: 172px; }

#r8-c10-b0-i0-id {
  left: 10px;
  top: 25px; }

#r8-c10-b0-i0-st {
  left: 10px;
  top: 203px; }

#r8-c10-b0-i0-nr {
  left: 22px;
  top: 203px; }

#r8-c10-b0-i1-id {
  left: 10px;
  top: 42px; }

#r8-c10-b0-i1-st {
  left: 50px;
  top: 203px; }

#r8-c10-b0-i1-nr {
  left: 62px;
  top: 203px; }

#r8-c10-b0-i2-id {
  left: 10px;
  top: 59px; }

#r8-c10-b0-i2-st {
  left: 10px;
  top: 220px; }

#r8-c10-b0-i2-nr {
  left: 22px;
  top: 220px; }

#r8-c10-b0-i3-id {
  left: 10px;
  top: 76px; }

#r8-c10-b0-i3-st {
  left: 50px;
  top: 220px; }

#r8-c10-b0-i3-nr {
  left: 62px;
  top: 220px; }

#r8-c10-b0-i4-id {
  left: 10px;
  top: 93px; }

#r8-c10-b0-i4-st {
  left: 10px;
  top: 237px; }

#r8-c10-b0-i4-nr {
  left: 22px;
  top: 237px; }

#r8-c10-b0-i5-id {
  left: 10px;
  top: 110px; }

#r8-c10-b0-i5-st {
  left: 50px;
  top: 237px; }

#r8-c10-b0-i5-nr {
  left: 62px;
  top: 237px; }

#r8-c10-b0-i6-id {
  left: 10px;
  top: 127px; }

#r8-c10-b0-i6-st {
  left: 10px;
  top: 254px; }

#r8-c10-b0-i6-nr {
  left: 22px;
  top: 254px; }

#r8-c10-b0-i7-id {
  left: 10px;
  top: 144px; }

#r8-c10-b0-i7-st {
  left: 50px;
  top: 254px; }

#r8-c10-b0-i7-nr {
  left: 62px;
  top: 254px; }
