/**
 * Rack 09
 */
/**
 * Card 01
 */
#r9-c1 {
  left: 1px;
  top: 1px; }

#r9-c1-b0 {
  left: 10px;
  top: 159px; }

#r9-c1-b0-i0-id {
  left: 34px;
  top: 23px; }

#r9-c1-b0-i0-st {
  left: 22px;
  top: 23px; }

#r9-c1-b0-i0-nr {
  left: 10px;
  top: 23px; }

#r9-c1-b0-i1-id {
  left: 34px;
  top: 40px; }

#r9-c1-b0-i1-st {
  left: 22px;
  top: 40px; }

#r9-c1-b0-i1-nr {
  left: 10px;
  top: 40px; }

#r9-c1-b0-i2-id {
  left: 34px;
  top: 57px; }

#r9-c1-b0-i2-st {
  left: 22px;
  top: 57px; }

#r9-c1-b0-i2-nr {
  left: 10px;
  top: 57px; }

#r9-c1-b0-i3-id {
  left: 34px;
  top: 74px; }

#r9-c1-b0-i3-st {
  left: 22px;
  top: 74px; }

#r9-c1-b0-i3-nr {
  left: 10px;
  top: 74px; }

#r9-c1-b0-i4-id {
  left: 34px;
  top: 91px; }

#r9-c1-b0-i4-st {
  left: 22px;
  top: 91px; }

#r9-c1-b0-i4-nr {
  left: 10px;
  top: 91px; }

#r9-c1-b0-i5-id {
  left: 34px;
  top: 108px; }

#r9-c1-b0-i5-st {
  left: 22px;
  top: 108px; }

#r9-c1-b0-i5-nr {
  left: 10px;
  top: 108px; }

#r9-c1-b0-i6-id {
  left: 34px;
  top: 125px; }

#r9-c1-b0-i6-st {
  left: 22px;
  top: 125px; }

#r9-c1-b0-i6-nr {
  left: 10px;
  top: 125px; }

#r9-c1-b0-i7-id {
  left: 34px;
  top: 142px; }

#r9-c1-b0-i7-st {
  left: 22px;
  top: 142px; }

#r9-c1-b0-i7-nr {
  left: 10px;
  top: 142px; }

#r9-c1-b1 {
  left: 10px;
  top: 176px; }

#r9-c1-b1-i0-id {
  left: 34px;
  top: 193px; }

#r9-c1-b1-i0-st {
  left: 22px;
  top: 193px; }

#r9-c1-b1-i0-nr {
  left: 10px;
  top: 193px; }

#r9-c1-b1-i1-id {
  left: 34px;
  top: 210px; }

#r9-c1-b1-i1-st {
  left: 22px;
  top: 210px; }

#r9-c1-b1-i1-nr {
  left: 10px;
  top: 210px; }

#r9-c1-b1-i2-id {
  left: 34px;
  top: 227px; }

#r9-c1-b1-i2-st {
  left: 22px;
  top: 227px; }

#r9-c1-b1-i2-nr {
  left: 10px;
  top: 227px; }

#r9-c1-b1-i3-id {
  left: 34px;
  top: 244px; }

#r9-c1-b1-i3-st {
  left: 22px;
  top: 244px; }

#r9-c1-b1-i3-nr {
  left: 10px;
  top: 244px; }

#r9-c1-b1-i4-id {
  left: 34px;
  top: 261px; }

#r9-c1-b1-i4-st {
  left: 22px;
  top: 261px; }

#r9-c1-b1-i4-nr {
  left: 10px;
  top: 261px; }

#r9-c1-b1-i5-id {
  left: 34px;
  top: 278px; }

#r9-c1-b1-i5-st {
  left: 22px;
  top: 278px; }

#r9-c1-b1-i5-nr {
  left: 10px;
  top: 278px; }

#r9-c1-b1-i6-id {
  left: 34px;
  top: 295px; }

#r9-c1-b1-i6-st {
  left: 22px;
  top: 295px; }

#r9-c1-b1-i6-nr {
  left: 10px;
  top: 295px; }

#r9-c1-b1-i7-id {
  left: 34px;
  top: 312px; }

#r9-c1-b1-i7-st {
  left: 22px;
  top: 312px; }

#r9-c1-b1-i7-nr {
  left: 10px;
  top: 312px; }

#r9-c1-b2 {
  left: 78px;
  top: 159px; }

#r9-c1-b2-i0-id {
  left: 78px;
  top: 23px; }

#r9-c1-b2-i0-st {
  left: 123px;
  top: 23px; }

#r9-c1-b2-i0-nr {
  left: 135px;
  top: 23px; }

#r9-c1-b2-i1-id {
  left: 78px;
  top: 40px; }

#r9-c1-b2-i1-st {
  left: 123px;
  top: 40px; }

#r9-c1-b2-i1-nr {
  left: 135px;
  top: 40px; }

#r9-c1-b2-i2-id {
  left: 78px;
  top: 57px; }

#r9-c1-b2-i2-st {
  left: 123px;
  top: 57px; }

#r9-c1-b2-i2-nr {
  left: 135px;
  top: 57px; }

#r9-c1-b2-i3-id {
  left: 78px;
  top: 74px; }

#r9-c1-b2-i3-st {
  left: 123px;
  top: 74px; }

#r9-c1-b2-i3-nr {
  left: 135px;
  top: 74px; }

#r9-c1-b2-i4-id {
  left: 78px;
  top: 91px; }

#r9-c1-b2-i4-st {
  left: 123px;
  top: 91px; }

#r9-c1-b2-i4-nr {
  left: 135px;
  top: 91px; }

#r9-c1-b2-i5-id {
  left: 78px;
  top: 108px; }

#r9-c1-b2-i5-st {
  left: 123px;
  top: 108px; }

#r9-c1-b2-i5-nr {
  left: 135px;
  top: 108px; }

#r9-c1-b2-i6-id {
  left: 78px;
  top: 125px; }

#r9-c1-b2-i6-st {
  left: 123px;
  top: 125px; }

#r9-c1-b2-i6-nr {
  left: 135px;
  top: 125px; }

#r9-c1-b2-i7-id {
  left: 78px;
  top: 142px; }

#r9-c1-b2-i7-st {
  left: 123px;
  top: 142px; }

#r9-c1-b2-i7-nr {
  left: 135px;
  top: 142px; }

#r9-c1-b3 {
  left: 78px;
  top: 176px; }

#r9-c1-b3-i0-id {
  left: 78px;
  top: 193px; }

#r9-c1-b3-i0-st {
  left: 123px;
  top: 193px; }

#r9-c1-b3-i0-nr {
  left: 135px;
  top: 193px; }

#r9-c1-b3-i1-id {
  left: 78px;
  top: 210px; }

#r9-c1-b3-i1-st {
  left: 123px;
  top: 210px; }

#r9-c1-b3-i1-nr {
  left: 135px;
  top: 210px; }

#r9-c1-b3-i2-id {
  left: 78px;
  top: 227px; }

#r9-c1-b3-i2-st {
  left: 123px;
  top: 227px; }

#r9-c1-b3-i2-nr {
  left: 135px;
  top: 227px; }

#r9-c1-b3-i3-id {
  left: 78px;
  top: 244px; }

#r9-c1-b3-i3-st {
  left: 123px;
  top: 244px; }

#r9-c1-b3-i3-nr {
  left: 135px;
  top: 244px; }

#r9-c1-b3-i4-id {
  left: 78px;
  top: 261px; }

#r9-c1-b3-i4-st {
  left: 123px;
  top: 261px; }

#r9-c1-b3-i4-nr {
  left: 135px;
  top: 261px; }

#r9-c1-b3-i5-id {
  left: 78px;
  top: 278px; }

#r9-c1-b3-i5-st {
  left: 123px;
  top: 278px; }

#r9-c1-b3-i5-nr {
  left: 135px;
  top: 278px; }

#r9-c1-b3-i6-id {
  left: 78px;
  top: 295px; }

#r9-c1-b3-i6-st {
  left: 123px;
  top: 295px; }

#r9-c1-b3-i6-nr {
  left: 135px;
  top: 295px; }

#r9-c1-b3-i7-id {
  left: 78px;
  top: 312px; }

#r9-c1-b3-i7-st {
  left: 123px;
  top: 312px; }

#r9-c1-b3-i7-nr {
  left: 135px;
  top: 312px; }

/**
 * Card 02
 */
#r9-c2 {
  left: 162px;
  top: 1px; }

#r9-c2-b0 {
  left: 10px;
  top: 159px; }

#r9-c2-b0-i0-id {
  left: 34px;
  top: 23px; }

#r9-c2-b0-i0-st {
  left: 22px;
  top: 23px; }

#r9-c2-b0-i0-nr {
  left: 10px;
  top: 23px; }

#r9-c2-b0-i1-id {
  left: 34px;
  top: 40px; }

#r9-c2-b0-i1-st {
  left: 22px;
  top: 40px; }

#r9-c2-b0-i1-nr {
  left: 10px;
  top: 40px; }

#r9-c2-b0-i2-id {
  left: 34px;
  top: 57px; }

#r9-c2-b0-i2-st {
  left: 22px;
  top: 57px; }

#r9-c2-b0-i2-nr {
  left: 10px;
  top: 57px; }

#r9-c2-b0-i3-id {
  left: 34px;
  top: 74px; }

#r9-c2-b0-i3-st {
  left: 22px;
  top: 74px; }

#r9-c2-b0-i3-nr {
  left: 10px;
  top: 74px; }

#r9-c2-b0-i4-id {
  left: 34px;
  top: 91px; }

#r9-c2-b0-i4-st {
  left: 22px;
  top: 91px; }

#r9-c2-b0-i4-nr {
  left: 10px;
  top: 91px; }

#r9-c2-b0-i5-id {
  left: 34px;
  top: 108px; }

#r9-c2-b0-i5-st {
  left: 22px;
  top: 108px; }

#r9-c2-b0-i5-nr {
  left: 10px;
  top: 108px; }

#r9-c2-b0-i6-id {
  left: 34px;
  top: 125px; }

#r9-c2-b0-i6-st {
  left: 22px;
  top: 125px; }

#r9-c2-b0-i6-nr {
  left: 10px;
  top: 125px; }

#r9-c2-b0-i7-id {
  left: 34px;
  top: 142px; }

#r9-c2-b0-i7-st {
  left: 22px;
  top: 142px; }

#r9-c2-b0-i7-nr {
  left: 10px;
  top: 142px; }

#r9-c2-b1 {
  left: 10px;
  top: 176px; }

#r9-c2-b1-i0-id {
  left: 34px;
  top: 193px; }

#r9-c2-b1-i0-st {
  left: 22px;
  top: 193px; }

#r9-c2-b1-i0-nr {
  left: 10px;
  top: 193px; }

#r9-c2-b1-i1-id {
  left: 34px;
  top: 210px; }

#r9-c2-b1-i1-st {
  left: 22px;
  top: 210px; }

#r9-c2-b1-i1-nr {
  left: 10px;
  top: 210px; }

#r9-c2-b1-i2-id {
  left: 34px;
  top: 227px; }

#r9-c2-b1-i2-st {
  left: 22px;
  top: 227px; }

#r9-c2-b1-i2-nr {
  left: 10px;
  top: 227px; }

#r9-c2-b1-i3-id {
  left: 34px;
  top: 244px; }

#r9-c2-b1-i3-st {
  left: 22px;
  top: 244px; }

#r9-c2-b1-i3-nr {
  left: 10px;
  top: 244px; }

#r9-c2-b1-i4-id {
  left: 34px;
  top: 261px; }

#r9-c2-b1-i4-st {
  left: 22px;
  top: 261px; }

#r9-c2-b1-i4-nr {
  left: 10px;
  top: 261px; }

#r9-c2-b1-i5-id {
  left: 34px;
  top: 278px; }

#r9-c2-b1-i5-st {
  left: 22px;
  top: 278px; }

#r9-c2-b1-i5-nr {
  left: 10px;
  top: 278px; }

#r9-c2-b1-i6-id {
  left: 34px;
  top: 295px; }

#r9-c2-b1-i6-st {
  left: 22px;
  top: 295px; }

#r9-c2-b1-i6-nr {
  left: 10px;
  top: 295px; }

#r9-c2-b1-i7-id {
  left: 34px;
  top: 312px; }

#r9-c2-b1-i7-st {
  left: 22px;
  top: 312px; }

#r9-c2-b1-i7-nr {
  left: 10px;
  top: 312px; }

#r9-c2-b2 {
  left: 78px;
  top: 159px; }

#r9-c2-b2-i0-id {
  left: 78px;
  top: 23px; }

#r9-c2-b2-i0-st {
  left: 123px;
  top: 23px; }

#r9-c2-b2-i0-nr {
  left: 135px;
  top: 23px; }

#r9-c2-b2-i1-id {
  left: 78px;
  top: 40px; }

#r9-c2-b2-i1-st {
  left: 123px;
  top: 40px; }

#r9-c2-b2-i1-nr {
  left: 135px;
  top: 40px; }

#r9-c2-b2-i2-id {
  left: 78px;
  top: 57px; }

#r9-c2-b2-i2-st {
  left: 123px;
  top: 57px; }

#r9-c2-b2-i2-nr {
  left: 135px;
  top: 57px; }

#r9-c2-b2-i3-id {
  left: 78px;
  top: 74px; }

#r9-c2-b2-i3-st {
  left: 123px;
  top: 74px; }

#r9-c2-b2-i3-nr {
  left: 135px;
  top: 74px; }

#r9-c2-b2-i4-id {
  left: 78px;
  top: 91px; }

#r9-c2-b2-i4-st {
  left: 123px;
  top: 91px; }

#r9-c2-b2-i4-nr {
  left: 135px;
  top: 91px; }

#r9-c2-b2-i5-id {
  left: 78px;
  top: 108px; }

#r9-c2-b2-i5-st {
  left: 123px;
  top: 108px; }

#r9-c2-b2-i5-nr {
  left: 135px;
  top: 108px; }

#r9-c2-b2-i6-id {
  left: 78px;
  top: 125px; }

#r9-c2-b2-i6-st {
  left: 123px;
  top: 125px; }

#r9-c2-b2-i6-nr {
  left: 135px;
  top: 125px; }

#r9-c2-b2-i7-id {
  left: 78px;
  top: 142px; }

#r9-c2-b2-i7-st {
  left: 123px;
  top: 142px; }

#r9-c2-b2-i7-nr {
  left: 135px;
  top: 142px; }

#r9-c2-b3 {
  left: 78px;
  top: 176px; }

#r9-c2-b3-i0-id {
  left: 78px;
  top: 193px; }

#r9-c2-b3-i0-st {
  left: 123px;
  top: 193px; }

#r9-c2-b3-i0-nr {
  left: 135px;
  top: 193px; }

#r9-c2-b3-i1-id {
  left: 78px;
  top: 210px; }

#r9-c2-b3-i1-st {
  left: 123px;
  top: 210px; }

#r9-c2-b3-i1-nr {
  left: 135px;
  top: 210px; }

#r9-c2-b3-i2-id {
  left: 78px;
  top: 227px; }

#r9-c2-b3-i2-st {
  left: 123px;
  top: 227px; }

#r9-c2-b3-i2-nr {
  left: 135px;
  top: 227px; }

#r9-c2-b3-i3-id {
  left: 78px;
  top: 244px; }

#r9-c2-b3-i3-st {
  left: 123px;
  top: 244px; }

#r9-c2-b3-i3-nr {
  left: 135px;
  top: 244px; }

#r9-c2-b3-i4-id {
  left: 78px;
  top: 261px; }

#r9-c2-b3-i4-st {
  left: 123px;
  top: 261px; }

#r9-c2-b3-i4-nr {
  left: 135px;
  top: 261px; }

#r9-c2-b3-i5-id {
  left: 78px;
  top: 278px; }

#r9-c2-b3-i5-st {
  left: 123px;
  top: 278px; }

#r9-c2-b3-i5-nr {
  left: 135px;
  top: 278px; }

#r9-c2-b3-i6-id {
  left: 78px;
  top: 295px; }

#r9-c2-b3-i6-st {
  left: 123px;
  top: 295px; }

#r9-c2-b3-i6-nr {
  left: 135px;
  top: 295px; }

#r9-c2-b3-i7-id {
  left: 78px;
  top: 312px; }

#r9-c2-b3-i7-st {
  left: 123px;
  top: 312px; }

#r9-c2-b3-i7-nr {
  left: 135px;
  top: 312px; }

/**
 * Card 03
 */
#r9-c3 {
  left: 323px;
  top: 1px; }

#r9-c3-b0 {
  left: 10px;
  top: 159px; }

#r9-c3-b0-i0-id {
  left: 34px;
  top: 23px; }

#r9-c3-b0-i0-st {
  left: 22px;
  top: 23px; }

#r9-c3-b0-i0-nr {
  left: 10px;
  top: 23px; }

#r9-c3-b0-i1-id {
  left: 34px;
  top: 40px; }

#r9-c3-b0-i1-st {
  left: 22px;
  top: 40px; }

#r9-c3-b0-i1-nr {
  left: 10px;
  top: 40px; }

#r9-c3-b0-i2-id {
  left: 34px;
  top: 57px; }

#r9-c3-b0-i2-st {
  left: 22px;
  top: 57px; }

#r9-c3-b0-i2-nr {
  left: 10px;
  top: 57px; }

#r9-c3-b0-i3-id {
  left: 34px;
  top: 74px; }

#r9-c3-b0-i3-st {
  left: 22px;
  top: 74px; }

#r9-c3-b0-i3-nr {
  left: 10px;
  top: 74px; }

#r9-c3-b0-i4-id {
  left: 34px;
  top: 91px; }

#r9-c3-b0-i4-st {
  left: 22px;
  top: 91px; }

#r9-c3-b0-i4-nr {
  left: 10px;
  top: 91px; }

#r9-c3-b0-i5-id {
  left: 34px;
  top: 108px; }

#r9-c3-b0-i5-st {
  left: 22px;
  top: 108px; }

#r9-c3-b0-i5-nr {
  left: 10px;
  top: 108px; }

#r9-c3-b0-i6-id {
  left: 34px;
  top: 125px; }

#r9-c3-b0-i6-st {
  left: 22px;
  top: 125px; }

#r9-c3-b0-i6-nr {
  left: 10px;
  top: 125px; }

#r9-c3-b0-i7-id {
  left: 34px;
  top: 142px; }

#r9-c3-b0-i7-st {
  left: 22px;
  top: 142px; }

#r9-c3-b0-i7-nr {
  left: 10px;
  top: 142px; }

#r9-c3-b1 {
  left: 10px;
  top: 176px; }

#r9-c3-b1-i0-id {
  left: 34px;
  top: 193px; }

#r9-c3-b1-i0-st {
  left: 22px;
  top: 193px; }

#r9-c3-b1-i0-nr {
  left: 10px;
  top: 193px; }

#r9-c3-b1-i1-id {
  left: 34px;
  top: 210px; }

#r9-c3-b1-i1-st {
  left: 22px;
  top: 210px; }

#r9-c3-b1-i1-nr {
  left: 10px;
  top: 210px; }

#r9-c3-b1-i2-id {
  left: 34px;
  top: 227px; }

#r9-c3-b1-i2-st {
  left: 22px;
  top: 227px; }

#r9-c3-b1-i2-nr {
  left: 10px;
  top: 227px; }

#r9-c3-b1-i3-id {
  left: 34px;
  top: 244px; }

#r9-c3-b1-i3-st {
  left: 22px;
  top: 244px; }

#r9-c3-b1-i3-nr {
  left: 10px;
  top: 244px; }

#r9-c3-b1-i4-id {
  left: 34px;
  top: 261px; }

#r9-c3-b1-i4-st {
  left: 22px;
  top: 261px; }

#r9-c3-b1-i4-nr {
  left: 10px;
  top: 261px; }

#r9-c3-b1-i5-id {
  left: 34px;
  top: 278px; }

#r9-c3-b1-i5-st {
  left: 22px;
  top: 278px; }

#r9-c3-b1-i5-nr {
  left: 10px;
  top: 278px; }

#r9-c3-b1-i6-id {
  left: 34px;
  top: 295px; }

#r9-c3-b1-i6-st {
  left: 22px;
  top: 295px; }

#r9-c3-b1-i6-nr {
  left: 10px;
  top: 295px; }

#r9-c3-b1-i7-id {
  left: 34px;
  top: 312px; }

#r9-c3-b1-i7-st {
  left: 22px;
  top: 312px; }

#r9-c3-b1-i7-nr {
  left: 10px;
  top: 312px; }

#r9-c3-b2 {
  left: 78px;
  top: 159px; }

#r9-c3-b2-i0-id {
  left: 78px;
  top: 23px; }

#r9-c3-b2-i0-st {
  left: 123px;
  top: 23px; }

#r9-c3-b2-i0-nr {
  left: 135px;
  top: 23px; }

#r9-c3-b2-i1-id {
  left: 78px;
  top: 40px; }

#r9-c3-b2-i1-st {
  left: 123px;
  top: 40px; }

#r9-c3-b2-i1-nr {
  left: 135px;
  top: 40px; }

#r9-c3-b2-i2-id {
  left: 78px;
  top: 57px; }

#r9-c3-b2-i2-st {
  left: 123px;
  top: 57px; }

#r9-c3-b2-i2-nr {
  left: 135px;
  top: 57px; }

#r9-c3-b2-i3-id {
  left: 78px;
  top: 74px; }

#r9-c3-b2-i3-st {
  left: 123px;
  top: 74px; }

#r9-c3-b2-i3-nr {
  left: 135px;
  top: 74px; }

#r9-c3-b2-i4-id {
  left: 78px;
  top: 91px; }

#r9-c3-b2-i4-st {
  left: 123px;
  top: 91px; }

#r9-c3-b2-i4-nr {
  left: 135px;
  top: 91px; }

#r9-c3-b2-i5-id {
  left: 78px;
  top: 108px; }

#r9-c3-b2-i5-st {
  left: 123px;
  top: 108px; }

#r9-c3-b2-i5-nr {
  left: 135px;
  top: 108px; }

#r9-c3-b2-i6-id {
  left: 78px;
  top: 125px; }

#r9-c3-b2-i6-st {
  left: 123px;
  top: 125px; }

#r9-c3-b2-i6-nr {
  left: 135px;
  top: 125px; }

#r9-c3-b2-i7-id {
  left: 78px;
  top: 142px; }

#r9-c3-b2-i7-st {
  left: 123px;
  top: 142px; }

#r9-c3-b2-i7-nr {
  left: 135px;
  top: 142px; }

#r9-c3-b3 {
  left: 78px;
  top: 176px; }

#r9-c3-b3-i0-id {
  left: 78px;
  top: 193px; }

#r9-c3-b3-i0-st {
  left: 123px;
  top: 193px; }

#r9-c3-b3-i0-nr {
  left: 135px;
  top: 193px; }

#r9-c3-b3-i1-id {
  left: 78px;
  top: 210px; }

#r9-c3-b3-i1-st {
  left: 123px;
  top: 210px; }

#r9-c3-b3-i1-nr {
  left: 135px;
  top: 210px; }

#r9-c3-b3-i2-id {
  left: 78px;
  top: 227px; }

#r9-c3-b3-i2-st {
  left: 123px;
  top: 227px; }

#r9-c3-b3-i2-nr {
  left: 135px;
  top: 227px; }

#r9-c3-b3-i3-id {
  left: 78px;
  top: 244px; }

#r9-c3-b3-i3-st {
  left: 123px;
  top: 244px; }

#r9-c3-b3-i3-nr {
  left: 135px;
  top: 244px; }

#r9-c3-b3-i4-id {
  left: 78px;
  top: 261px; }

#r9-c3-b3-i4-st {
  left: 123px;
  top: 261px; }

#r9-c3-b3-i4-nr {
  left: 135px;
  top: 261px; }

#r9-c3-b3-i5-id {
  left: 78px;
  top: 278px; }

#r9-c3-b3-i5-st {
  left: 123px;
  top: 278px; }

#r9-c3-b3-i5-nr {
  left: 135px;
  top: 278px; }

#r9-c3-b3-i6-id {
  left: 78px;
  top: 295px; }

#r9-c3-b3-i6-st {
  left: 123px;
  top: 295px; }

#r9-c3-b3-i6-nr {
  left: 135px;
  top: 295px; }

#r9-c3-b3-i7-id {
  left: 78px;
  top: 312px; }

#r9-c3-b3-i7-st {
  left: 123px;
  top: 312px; }

#r9-c3-b3-i7-nr {
  left: 135px;
  top: 312px; }

/**
 * Card 04
 */
#r9-c4 {
  left: 484px;
  top: 1px; }

#r9-c4-b0 {
  left: 10px;
  top: 159px; }

#r9-c4-b0-i0-id {
  left: 34px;
  top: 23px; }

#r9-c4-b0-i0-st {
  left: 22px;
  top: 23px; }

#r9-c4-b0-i0-nr {
  left: 10px;
  top: 23px; }

#r9-c4-b0-i1-id {
  left: 34px;
  top: 40px; }

#r9-c4-b0-i1-st {
  left: 22px;
  top: 40px; }

#r9-c4-b0-i1-nr {
  left: 10px;
  top: 40px; }

#r9-c4-b0-i2-id {
  left: 34px;
  top: 57px; }

#r9-c4-b0-i2-st {
  left: 22px;
  top: 57px; }

#r9-c4-b0-i2-nr {
  left: 10px;
  top: 57px; }

#r9-c4-b0-i3-id {
  left: 34px;
  top: 74px; }

#r9-c4-b0-i3-st {
  left: 22px;
  top: 74px; }

#r9-c4-b0-i3-nr {
  left: 10px;
  top: 74px; }

#r9-c4-b0-i4-id {
  left: 34px;
  top: 91px; }

#r9-c4-b0-i4-st {
  left: 22px;
  top: 91px; }

#r9-c4-b0-i4-nr {
  left: 10px;
  top: 91px; }

#r9-c4-b0-i5-id {
  left: 34px;
  top: 108px; }

#r9-c4-b0-i5-st {
  left: 22px;
  top: 108px; }

#r9-c4-b0-i5-nr {
  left: 10px;
  top: 108px; }

#r9-c4-b0-i6-id {
  left: 34px;
  top: 125px; }

#r9-c4-b0-i6-st {
  left: 22px;
  top: 125px; }

#r9-c4-b0-i6-nr {
  left: 10px;
  top: 125px; }

#r9-c4-b0-i7-id {
  left: 34px;
  top: 142px; }

#r9-c4-b0-i7-st {
  left: 22px;
  top: 142px; }

#r9-c4-b0-i7-nr {
  left: 10px;
  top: 142px; }

#r9-c4-b1 {
  left: 10px;
  top: 176px; }

#r9-c4-b1-i0-id {
  left: 34px;
  top: 193px; }

#r9-c4-b1-i0-st {
  left: 22px;
  top: 193px; }

#r9-c4-b1-i0-nr {
  left: 10px;
  top: 193px; }

#r9-c4-b1-i1-id {
  left: 34px;
  top: 210px; }

#r9-c4-b1-i1-st {
  left: 22px;
  top: 210px; }

#r9-c4-b1-i1-nr {
  left: 10px;
  top: 210px; }

#r9-c4-b1-i2-id {
  left: 34px;
  top: 227px; }

#r9-c4-b1-i2-st {
  left: 22px;
  top: 227px; }

#r9-c4-b1-i2-nr {
  left: 10px;
  top: 227px; }

#r9-c4-b1-i3-id {
  left: 34px;
  top: 244px; }

#r9-c4-b1-i3-st {
  left: 22px;
  top: 244px; }

#r9-c4-b1-i3-nr {
  left: 10px;
  top: 244px; }

#r9-c4-b1-i4-id {
  left: 34px;
  top: 261px; }

#r9-c4-b1-i4-st {
  left: 22px;
  top: 261px; }

#r9-c4-b1-i4-nr {
  left: 10px;
  top: 261px; }

#r9-c4-b1-i5-id {
  left: 34px;
  top: 278px; }

#r9-c4-b1-i5-st {
  left: 22px;
  top: 278px; }

#r9-c4-b1-i5-nr {
  left: 10px;
  top: 278px; }

#r9-c4-b1-i6-id {
  left: 34px;
  top: 295px; }

#r9-c4-b1-i6-st {
  left: 22px;
  top: 295px; }

#r9-c4-b1-i6-nr {
  left: 10px;
  top: 295px; }

#r9-c4-b1-i7-id {
  left: 34px;
  top: 312px; }

#r9-c4-b1-i7-st {
  left: 22px;
  top: 312px; }

#r9-c4-b1-i7-nr {
  left: 10px;
  top: 312px; }
